body {
  background-color: antiquewhite;
}

.product-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr); 
  /* background-color: antiquewhite; */
  place-items: center;
  margin: 20px;
}
.price-tag {
  display: flex;
}
button {
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}
.input-bar {
  width: 500px;
  height: 30px;
  margin: 18px;
}

